
* {
    box-sizing: border-box;
}

body {
    background-color: #fa86fc;
    /* display: flex;
    justify-content: center;*/
    /*align-items: center;*/
    min-height: 100vh;
    margin: 0;
}

#addPincode {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /*align-items:center;*/
    position: relative;
    padding-top: 100px;
    left: 100px;
    bottom: 30px;
}

    #addPincode input {
        width: 300px;
        padding: 5px;
    }

    #addPincode.success input {
        border: 2px solid green;
    }

    #addPincode.error input {
        border: 2px solid red;
    }

    #addPincode small {
        /*position: absolute;*/
        margin: 6px;
        /*padding-top:1px;*/
        visibility: hidden;
        color: red;
    }
#displayTable{
    max-height:100px;
}


